<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"> 
		
	<bean id="HessianTransactionServiceStub" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="http://localhost:80/src/main/java/xianli/assignment7/HessianTransactionService"/>
		<property name="serviceInterface" value="xianli.assignment7.TransactionScriptInterface"/>
	</bean>
	
	<bean id="BurlapTransactionServiceStub" class="org.springframework.remoting.caucho.BurlapProxyFactoryBean">
		<property name="serviceUrl" value="http://localhost:80/src/main/java/xianli/assignment7/BurlapTransactionService"/>
		<property name="serviceInterface" value="xianli.assignment7.TransactionScriptInterface"/>
	</bean>
	
	<bean id="HttpInvokerTransactionServiceStub" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
		<property name="serviceUrl" value="http://localhost:80/src/main/java/xianli/assignment7/HttpInvokerTransactionService"/>
		<property name="serviceInterface" value="xianli.assignment7.TransactionScriptInterface"/>
	</bean>
 
</beans>
